<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Flashcard</title>
</head>
<body>
{% set progress = "success" %}
{% set color = "background-color:#04AA6D;"%}
{% if duplicate==True%}
{% set progress = "failure" %}
{% set color = "background-color:#ff9800;"%}
<p style="color:red"> Something went wrong, try again</p>
{%else%}
<p style="color:green"> Congrats! Data has been saved!</p>
{%endif%}

<div class= "alert" id="success" style={{color}}>
  <span class="closebtn">&times;</span>
  <strong>{{progress}}!</strong>
</div>

<form  action = "/create" method = "POST">
         <p>Question <input type = "text" name = "Question" required /></p>
         <p>Answer <input type = "text" name = "Answer" required/></p>
         <p><input onclick="successful()" type = "submit" value = "submit" id="submitBtn"/></p>
      </form>
<button onclick="window.location.href='/';"> Back to Home</button>
<style>
.alert {
  padding: 20px;
  color: white;
  background-color:#04AA6D;
  opacity: 1;
  transition: opacity 0.6s;
  margin-bottom: 15px;
  display: none;
}

.alert.success {background-color: #04AA6D;
}
.alert.failure {background-color: #ff9800;}


.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}
</style>





<script>
function successful(){
 document.getElementById("success").style.display="block";

var close = document.getElementsByClassName("closebtn");
var i;

for (i = 0; i < close.length; i++) {
  close[i].onclick = function(){
    var div = this.parentElement;
    div.style.opacity = "0";
    setTimeout(function(){ div.style.display = "none"; }, 600);
  }
}
}
</script>

</body>



</html>