<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Welcome to the Homepage</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css"
    />
  </head>
  <body>
    <h1>Welcome to Homepage!</h1>

<button onclick="window.location.href='/create';"> Create new flashcard!</button>
<button onclick="window.location.href='/update';"> Update existing flashcard!</button>
<button onclick="window.location.href='/edit_question';"> Update existing flashcards Question!</button>
{% if not results %}
<p> No flashcards found! Click the button to add one!</p>
{% endif %}
{% for result in results %}

<div style="background-color:green;";>
    <a href="/delete/{{result[0].replace('?','%3F')}}" class="btn btn-outline-danger btn-sm">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="white" class="bi bi-x-lg" viewBox="0 0 16 16" style="position: absolute; right:15; padding-top:5;">
            <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z" stroke="white" stroke-width="0.8"/>
        </svg>
    </a>
    <p style="color:white; margin-left: 15px; padding-top: 5px;"> Question: {{result[0]}} </p>
    <strong style="color:white; margin-left: 15px;"> Answer: {{result[1]}}</strong>
</div>
{% endfor %}

<button onclick="window.location.href='/flashcards';">
  View Flashcards
</button>

</body>
</html>
