<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Welcome to the Homepage</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='webstyles.css') }}">
  </head>
  <body>
  {% include 'navbar.html' %}
    <h1>Welcome to Flaskcards for all!</h1>
<h2> About</h2>
  <p> This is an application where you can create, delete and update flashcards to use. It is still in development but we hope you enjoy using it! </p>
  <p> Click one of the buttons below to get started!</p>
<button onclick="window.location.href='/create';"> Create new flashcard!</button>
<button onclick="window.location.href='/update';"> Update existing flashcard!</button>
<button onclick="window.location.href='/edit_question';"> Update existing flashcards Question!</button>


<button onclick="window.location.href='/flashcards';">
  View Flashcards
</button>

</body>
</html>
